<h1>Movies#index</h1>
<h3>Search</h3>
<%= link_to "Advanced Search", new_search_path %>

<h3><%= link_to "Submit a movie!", new_movie_path %></h3>

<hr>
<% @movies.each do |movie| %>
  <%= image_tag movie.image.to_s %>
  <%= link_to image_tag(movie.image), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %><%= movie.reviews.any? ? '/10' : nil  %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>  
<% end %>
