<h1>Advanced Search<h2>
<%= form_for @search do |s| %>

  <div>
    <%= s.label :title %><br />
    <%= s.text_field :title %><br />
  </div>

  <div>
    <%= s.label :director %><br />
    <%= s.text_field :director %><br />
  </div>

  <div>
    <p><%= s.label :runtime, "Running time" %> - <%= s.select :runtime, options_for_select([['Under 90 minutes', "< 90"], ['Between 90 and 120 minutes', "between 90 and 120"], ['Over 120 minutes', "> 120"]]), include_blank: true %></p>
  </div>

  <div>
    <%= s.submit "Search" %>
  </div>

<% end %>