<h1>Rotten Mangoes - All Users</h1>

<h3><%= link_to "Create New User", new_admin_user_path %></h3>

<table>
<%= paginate @users %>
<% @users.each do |user| %>
  <tr>
    <td><%= user.full_name, admin_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= link_to "Switch to User's View", admin_user_switch_to_user_path(user), method: :post %></td>
    <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
    <td><%= link_to "Delete", admin_user_path(user), method: :delete, :data => { :confirm => 'You sure?' } %></td>
  </tr>
</table>
<% end %>